<div style="background-color:#f4f4f4">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%">
        <tbody>
        <tr>
            <td>
                <div style="margin:0px auto;max-width:600px">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
                        <tbody>
                        <tr>
                            <td style="border:0px solid #ffffff;direction:ltr;font-size:0px;padding:0px 0px 0px 0px;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:center">
                                <div class="m_-3113131773975000221mj-column-per-100"
                                     style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">
                                        <tbody>
                                        <tr>
                                            <td align="center"
                                                style="font-size:0px;padding:10px 0px 0px 0px;padding-right:0px;padding-bottom:0px;padding-left:0px;word-break:break-word">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px"
                                                       th:if="${isDefault}">
                                                    <tbody>
                                                    <tr>
                                                        <td style="width:600px">
                                                            <img alt="Venly logo" height="auto"
                                                                 src="https://ci6.googleusercontent.com/proxy/tJBjzPdwzJ3XQLay6V0eZJAqoxgNtqBxrx-c1BOAdaU2kUABkP_1130rDveyJ1uTqadJEXWDojbYursPi7pAbzQ8iglx=s0-d-e1-ft#https://x86li.mjt.lu/tplimg/x86li/b/sl2on/z2ji.png"
                                                                 style="border:none;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px"
                                                                 width="600" class="CToWUd a6T" tabindex="0">
                                                            <div class="a6S" dir="ltr" style="opacity: 0.01; left: 402px; top: 85px;">
                                                                <div id=":hi" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment "
                                                                     data-tooltip-class="a1V" data-tooltip="Download">
                                                                    <div class="akn">
                                                                        <div class="aSK J-J5-Ji aYr"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr
                                            <td align="center"
                                                style="font-size:0px;padding:0px 0px 0px 0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;word-break:break-word">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                                                    <tbody>
                                                    <tr>
                                                        <td style="width:600px">
                                                            <img alt="Venly Wallet" height="auto" th:src="@{${logo}}"
                                                                 style="border:none;border-radius:px;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px"
                                                                 width="600" class="CToWUd a6T" tabindex="0">
                                                             </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%">
        <tbody>
        <tr>
            <td>
                <div style="margin:0px auto;max-width:600px">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
                        <tbody>
                        <tr>
                            <td style="border:0px solid #ffffff;direction:ltr;font-size:0px;padding:20px 0px 20px 0px;padding-left:0px;padding-right:0px;text-align:center">
                                <div class="m_-3113131773975000221mj-column-per-100"
                                     style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">
                                        <tbody>
                                        <tr>
                                            <td align="left" style="font-size:0px;padding:0px 25px 0px 25px;padding-top:0px;padding-bottom:0px;word-break:break-word">
                                                <div style="font-family:Arial,sans-serif;font-size:15px;letter-spacing:normal;line-height:1;text-align:left;color:#000000">
                                                    <p style="margin:10px 0;margin-top:0px"><span
						       style="color:#55575d;font-family:Roboto;font-size:15px;line-height:22px">Thank you for your purchase. Your Logos NFT has been created and safely stored in your new digital wallet, hosted by Venly. Full details regarding your Logos NFT and its benefits will be provided separately.</span></p>
                                                    <p style="margin:10px 0;margin-bottom:10px"><span style="color:#55575d;font-family:Roboto;font-size:15px;line-height:22px">

							    Access your wallet by clicking the button below. You will be asked to create an account by setting a password and PIN code. Your Logos NFT will be located in the MATIC section, since it is minted on the Polygon blockchain ($MATIC).



						    </span>
                                                    </p>
                                                    <p style="margin:10px 0;margin-bottom:10px"><span style="color:#55575d;font-family:Roboto;font-size:15px;line-height:22px">
							    If you have any questions or need help with your wallet, please contact our wallet partner Venly using the link <a href="https://help.venly.io">here</a>.
                                                    </span>
                                                    </p>
                                                    <p style="margin:10px 0;margin-bottom:10px"><span style="color:#55575d;font-family:Roboto;font-size:15px;line-height:22px">
							For all other inquiries, please email concierge@dims.world.
                                                    </span>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center"
                                                style="font-size:0px;padding:30px 25px 10px 25px;padding-top:30px;padding-right:25px;padding-left:25px;word-break:break-word">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center" bgcolor="#4c28da" role="presentation"
                                                            style="border:0px solid #ffffff;border-radius:8px;background:#4c28da" valign="middle">
                                                            <a th:href="@{${targetUrl}}" data-test="test" target="_blank">
                                                                <p th:style="${'display:inline-block;background:' + secondaryColor+ ';color:#ffffff;font-family:Arial,sans-serif;font-size:13px;font-weight:normal;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:10px 25px 10px 25px;border-radius:8px'}">
                                                                    <span style="background-color:transparent;font-family:Roboto;font-size:14px">ACCESS MY WALLET</span></p></a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%">
        <tbody>
        <tr>
            <td>
                <div style="margin:0px auto;max-width:600px">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
                        <tbody>
                        <tr th:if="${!isDefault}">
                            <td style="float: right;">
                                <div style="color:#55575d;font-family:Roboto;font-size:12px;line-height:22px; display: flex;">Blockchain technology provider &nbsp;
                                    <a href="https://venly.io"><img style="padding-top:5px;"  src="https://cwstatic.nyc3.digitaloceanspaces.com/5452/Venly-Logo.png?v=1628604097" width="50"></a>
                                </div>
                            </td>
                        </tr>
                        <tr th:if="${isDefault}">
                            <td th:style="${'border:0px solid #ffffff;direction:ltr;font-size:0px;padding:20px 0px 20px 0px;padding-left:0px;padding-right:0px;text-align:center;background:'+primaryColor}">
                                <div class="m_-3113131773975000221mj-column-per-100"
                                     style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">
                                        <tbody>
                                        
                                        <tr>
                                            <td align="center"
                                                style="font-size:0px;padding:10px 25px 10px 25px;padding-top:10px;padding-right:25px;padding-left:25px;word-break:break-word">

                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="font-size:0px;padding:0px 25px 0px 25px;padding-top:0px;padding-bottom:0px;word-break:break-word">
                                                <div style="font-family:Arial,sans-serif;font-size:11px;letter-spacing:normal;line-height:1;text-align:left;color:#000000"><p
                                                    style="text-align:center;margin:10px 0;margin-top:10px;margin-bottom:10px"><span
                                                    style="color:#55575d;font-family:Roboto;font-size:11px;line-height:22px" th:text="@{${targetUrl}}"></span></p></div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <div th:if="${!isDefault}">
                            <tr>
                                <td
                                    th:style="${'border:0px solid #ffffff;direction:ltr;font-size:0px;padding:5px 0px 5px 0px;padding-left:0px;padding-right:0px;text-align:center;background:'+primaryColor}">
                                    <div class="m_-3113131773975000221mj-column-per-100"
                                         style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                    </div>
                                </td>
                            </tr>
                            <tr>
				    <td style=" text-align:center;"><br>
                                    If you have any issues with your wallet, our technology provider Venly will assist you in the chat, just login to your Venly wallet to
                                    contact
                                    them.
                                </td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%">
        <tbody>
        <tr>
            <td>
                <div style="margin:0px auto;max-width:600px">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
                        <tbody>
                        <tr>
                            <td style="border:0px solid #ffffff;direction:ltr;font-size:0px;padding:20px 0px 20px 0px;padding-left:0px;padding-right:0px;text-align:center">
                                <div class="m_-3113131773975000221mj-column-per-100"
                                     style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">
                                        <tbody>
                                        <tr>
                                            <td align="left" style="font-size:0px;padding:0px 20px 0px 20px;padding-top:0px;padding-bottom:0px;word-break:break-word">
                                                <div style="font-family:Arial,sans-serif;font-size:13px;letter-spacing:normal;line-height:1;text-align:left;color:#000000">
                                                    <p style="text-align:center;margin:10px 0;margin-top:10px;margin-bottom:10px">
							<span th:if="${!isDefault}" style="color:#a24db1;font-family:Ubuntu;font-size:13px">Click here to <a th:href="${unsubscribeLink}">unsubscribe</a></span>
							<span th:if="${!isDefault}" style="color:#a24db1;font-family:Ubuntu;font-size:13px">Venly - 2021</span>
                                                        <span th:if="${isDefault}" style="color:#a24db1;font-family:Ubuntu;font-size:13px">This email has been sent to <span
                                                            th:text="${emailTo}"></span>. Click here to <a th:href="${unsubscribeLink}">unsubscribe</a></span>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
