<div style="background-color:#f4f4f4">
   <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%">
      <tbody>
         <tr>
            <td>
               <div style="margin:0px auto;max-width:600px">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
                     <tbody>
                        <tr>
                           <td style="border:0px solid #ffffff;direction:ltr;font-size:0px;padding:0px 0px 0px 0px;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:center">
                              <div class="m_-3113131773975000221mj-column-per-100" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                 <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">
                                    <tbody>
                                       <tr>
                                          <td align="center" style="font-size:0px;padding:10px 0px 0px 0px;padding-right:0px;padding-bottom:0px;padding-left:0px;word-break:break-word">
                                             <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                                                <tbody>
                                                   <tr>
                                                      <td style="width:600px">
                                                         <img alt="Venly logo" height="auto" src="https://ci6.googleusercontent.com/proxy/tJBjzPdwzJ3XQLay6V0eZJAqoxgNtqBxrx-c1BOAdaU2kUABkP_1130rDveyJ1uTqadJEXWDojbYursPi7pAbzQ8iglx=s0-d-e1-ft#https://x86li.mjt.lu/tplimg/x86li/b/sl2on/z2ji.png" style="border:none;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px" width="600" class="CToWUd a6T" tabindex="0">
                                                         <div class="a6S" dir="ltr" style="opacity: 0.01; left: 402px; top: 85px;">
                                                            <div id=":hi" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download">
                                                               <div class="akn">
                                                                  <div class="aSK J-J5-Ji aYr"></div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td align="left" style="background:#ffffff;font-size:0px;padding:0px 0px 0px 0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;word-break:break-word">
                                             <div style="font-family:Arial,sans-serif;font-size:30px;letter-spacing:normal;line-height:1;text-align:left;color:#000000">
                                                <p style="text-align:center;margin:10px 0;margin-top:10px;margin-bottom:10px"><span style="color:#615757;font-family:Arial,Helvetica,sans-serif;font-size:18px"><b>You have just received a digital asset</b></span></p>
                                             </div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td align="center" style="font-size:0px;padding:0px 0px 0px 0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;word-break:break-word">
                                             <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                                                <tbody>
                                                   <tr>
                                                      <td style="width:600px">
                                                         <img alt="Venly Wallet" height="auto" src="https://ci3.googleusercontent.com/proxy/rAeSMNwVoICD1Fsp9dvERN4QSp7Br7bhv-qKfh15_mFaA7DONEKiPZwXdNoU-o_qFinAxtnN2qXBKBtpEj6e3tNcVibX=s0-d-e1-ft#https://x86li.mjt.lu/tplimg/x86li/b/sl2on/z2jt.png" style="border:none;border-radius:px;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px" width="600" class="CToWUd a6T" tabindex="0">
                                                         <div class="a6S" dir="ltr" style="opacity: 0.01; left: 402px; top: 286.75px;">
                                                            <div id=":hj" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download">
                                                               <div class="akn">
                                                                  <div class="aSK J-J5-Ji aYr"></div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </td>
         </tr>
      </tbody>
   </table>
   <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%">
      <tbody>
         <tr>
            <td>
               <div style="margin:0px auto;max-width:600px">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
                     <tbody>
                        <tr>
                           <td style="border:0px solid #ffffff;direction:ltr;font-size:0px;padding:20px 0px 20px 0px;padding-left:0px;padding-right:0px;text-align:center">
                              <div class="m_-3113131773975000221mj-column-per-100" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                 <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">
                                    <tbody>
                                       <tr>
                                          <td align="left" style="font-size:0px;padding:0px 25px 0px 25px;padding-top:0px;padding-bottom:0px;word-break:break-word">
                                             <div style="font-family:Arial,sans-serif;font-size:15px;letter-spacing:normal;line-height:1;text-align:left;color:#000000">
                                                <p style="margin:10px 0;margin-top:10px"><span style="color:#55575d;font-family:Roboto;font-size:15px;line-height:22px">Hi,</span></p>
                                                <p style="margin:10px 0;margin-bottom:10px">
                                                   <div style="color:#55575d;font-family:Roboto;font-size:15px;line-height:22px">
                                                      Exciting news! You've just received a valuable digital asset on the blockchain.
                                                   </div>
                                                   <div style="color:#55575d;font-family:Roboto;font-size:15px;line-height:22px">
                                                      No worries if you don't have a Venly blockchain wallet yet - we've gone ahead and set one up just for you. Simply tap the button below to unveil your brand new wallet and explore all the incredible content it holds.
                                                   </div>
                                                </p>
                                             </div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td align="center" style="font-size:0px;padding:30px 25px 10px 25px;padding-top:30px;padding-right:25px;padding-left:25px;word-break:break-word">
                                             <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%">
                                                <tbody>
                                                   <tr>
                                                      <td align="center" bgcolor="#4c28da" role="presentation" style="border:0px solid #ffffff;border-radius:8px;background:#4c28da" valign="middle">
                                                      	<a th:href="@{${targetUrl}}" data-test="test" target="_blank">
                                                         <p style="display:inline-block;background:#4c28da;color:#ffffff;font-family:Arial,sans-serif;font-size:13px;font-weight:normal;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:10px 25px 10px 25px;border-radius:8px"><span style="background-color:transparent;font-family:Roboto;font-size:14px">GO TO YOUR WALLET</span></p></a>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </td>
         </tr>
      </tbody>
   </table>
   <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%">
      <tbody>
         <tr>
            <td>
               <div style="margin:0px auto;max-width:600px">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
                     <tbody>
                        <tr>
                           <td style="border:0px solid #ffffff;direction:ltr;font-size:0px;padding:20px 0px 20px 0px;padding-left:0px;padding-right:0px;text-align:center">
                              <div class="m_-3113131773975000221mj-column-per-100" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                 <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">
                                    <tbody>
                                       <tr>
                                          <td align="left" style="font-size:0px;padding:0px 25px 0px 25px;padding-top:0px;padding-bottom:0px;word-break:break-word">
                                             <div style="font-family:Arial,sans-serif;font-size:12px;letter-spacing:normal;line-height:1;text-align:left;color:#000000">
                                                <p style="text-align:center;margin:10px 0;margin-top:10px;margin-bottom:10px"><span style="color:#55575d;font-family:Roboto;font-size:15px;line-height:22px">If you have any questions, give us a ping on <a href="https://discord.com/invite/7Sn2nHC3Ep" target="_blank">Discord</a></span></p>
                                             </div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td align="center" style="font-size:0px;padding:10px 25px 10px 25px;padding-top:10px;padding-right:25px;padding-left:25px;word-break:break-word">
                                             <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="float:none;display:inline-table">
                                                <tbody>
                                                   <tr>
                                                      <td style="padding:4px">
                                                         <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#4c28da;border-radius:50%;width:20">
                                                            <tbody>
                                                               <tr>
                                                                  <td style="padding:5px 5px 5px 5px;font-size:0;height:20;vertical-align:middle;width:20">
                                                                     <a href="https://www.venly.io/company/blog" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://medium.com/arkane-network&amp;source=gmail&amp;ust=1623839318311000&amp;usg=AFQjCNEWh-R6YWDVrDcobAsV5lytsGshSw">
                                                                        <img height="12" src="https://storage.venly.io/brand/icon-white.png" style="display:block;padding:4px" width="12" class="CToWUd">
                                                                     </a>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                             <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="float:none;display:inline-table">
                                                <tbody>
                                                   <tr>
                                                      <td style="padding:4px">
                                                         <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#4c28da;border-radius:50%;width:20">
                                                            <tbody>
                                                               <tr>
                                                                  <td style="padding:5px 5px 5px 5px;font-size:0;height:20;vertical-align:middle;width:20"><a href="https://www.linkedin.com/company/venly-io" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/company/venly-io&amp;source=gmail&amp;ust=1623839318311000&amp;usg=AFQjCNHSOkf8fTmOJ7LGt6DsTQIirRymGA"><img height="20" src="https://ci3.googleusercontent.com/proxy/Ro-BgDTtglkIsEWqtrKHPOXrLdSEiKr_e3CZ_li4H_n0yatIp1TylrW1y4aYMoGgedzsMHi7dow-FkQ4jqrnjOgEH4lFnmFhr2qMc4UvZqX5hHn0ofbuWw=s0-d-e1-ft#https://www.mailjet.com/images/theme/v1/icons/ico-social/linkedin.png" style="border-radius:50%;display:block" width="20" class="CToWUd"></a></td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                             <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="float:none;display:inline-table">
                                                <tbody>
                                                   <tr>
                                                      <td style="padding:4px">
                                                         <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#4c28da;border-radius:50%;width:20">
                                                            <tbody>
                                                               <tr>
                                                                  <td style="padding:5px 5px 5px 5px;font-size:0;height:20;vertical-align:middle;width:20"><a href="https://twitter.com/Venly_io" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/Venly_io&amp;source=gmail&amp;ust=1623839318311000&amp;usg=AFQjCNFtwlXP2aA-Vnh-Hw-m3Hmft5m1VA"><img height="20" src="https://ci5.googleusercontent.com/proxy/5-H8_DK82L0N-1vgP5uKBHqWiqyxiM_gQDmYNPR-zKzHLn0kycNlKjm1RPmgIFs1HCoTrgRj21Cbo7NByc3zCrXuBvOivAnQPL6D82Hi1xJ8t0qHOA5f=s0-d-e1-ft#https://www.mailjet.com/images/theme/v1/icons/ico-social/twitter.png" style="border-radius:50%;display:block" width="20" class="CToWUd"></a></td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td align="left" style="font-size:0px;padding:0px 25px 0px 25px;padding-top:0px;padding-bottom:0px;word-break:break-word">
                                             <div style="font-family:Arial,sans-serif;font-size:11px;letter-spacing:normal;line-height:1;text-align:left;color:#000000">
                                                <p style="text-align:center;margin:10px 0;margin-top:10px;margin-bottom:10px">
                                                   <span style="color:#55575d;font-family:Roboto;font-size:11px;line-height:22px">Button not working? Copy paste this address into your browser:</span>
                                                </p>
                                                <p style="text-align:center;margin:10px 0;margin-top:10px;margin-bottom:10px">
                                                   <span style="color:#55575d;font-family:Roboto;font-style: italic;font-size:11px;line-height:22px" th:text="@{${targetUrl}}"></span>
                                                </p>
                                             </div>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </td>
         </tr>
      </tbody>
   </table>
   <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%">
      <tbody>
         <tr>
            <td>
               <div style="margin:0px auto;max-width:600px">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
                     <tbody>
                        <tr>
                           <td style="border:0px solid #ffffff;direction:ltr;font-size:0px;padding:20px 0px 20px 0px;padding-left:0px;padding-right:0px;text-align:center">
                              <div class="m_-3113131773975000221mj-column-per-100" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                 <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">
                                    <tbody>
                                       <tr>
                                          <td align="left" style="font-size:0px;padding:0px 20px 0px 20px;padding-top:0px;padding-bottom:0px;word-break:break-word">
                                             <div style="font-family:Arial,sans-serif;font-size:13px;letter-spacing:normal;line-height:1;text-align:left;color:#000000">
                                                <p style="text-align:center;margin:10px 0;margin-top:10px;margin-bottom:10px"><span style="color:#55575d;font-family:Roboto;font-size:13px">Venly - 2023</span></p>
                                             </div>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </td>
         </tr>
      </tbody>
   </table>
</div>
