<div style="background-color:#f4f4f4">
   <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%">
      <tbody>
         <tr>
            <td>
               <div style="margin:0px auto;max-width:600px">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
                     <tbody>
                        <tr>
                           <td style="border:0px solid #ffffff;direction:ltr;font-size:0px;padding:0px 0px 0px 0px;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:center">
                              <div class="m_3535026615793103033mj-column-per-100" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                 <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">
                                    <tbody>
                                       <tr>
                                          <td align="center" style="font-size:0px;padding:10px 0px 0px 0px;padding-right:0px;padding-bottom:0px;padding-left:0px;word-break:break-word">
                                             <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                                                <tbody>
                                                   <tr>
                                                      <td style="width:600px"><img alt="" height="auto" src="https://ci3.googleusercontent.com/proxy/SC3hzoKvbCm8kYu82WON80MIaW_P2RiL6JACwta3y9kZksJ6m1_LpIlOjNCqkcxsGCjKWbdMjfy8XzVoPpvlVQ=s0-d-e1-ft#https://x86li.mjt.lu/img/x86li/b/h7u/1rvl.png" style="border:none;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px" width="600" class="CToWUd"></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td align="left" style="background:#ffffff;font-size:0px;padding:0px 0px 0px 0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;word-break:break-word">
                                             <div style="font-family:Arial,sans-serif;font-size:30px;letter-spacing:normal;line-height:1;text-align:left;color:#000000">
                                                <p style="text-align:center;margin:10px 0;margin-top:10px"><br><span style="color:#a24db1;font-family:Arial,Helvetica,sans-serif;font-size:30px"><b>Arkane </b></span><span style="color:#393838;font-family:Arial,Helvetica,sans-serif;font-size:30px"><b>Wallet</b></span></p>
                                                <p style="text-align:center;margin:10px 0;margin-bottom:10px"><span style="color:#615757;font-family:Arial,Helvetica,sans-serif;font-size:18px">you just received an asset 🥳</span></p>
                                             </div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td align="center" style="font-size:0px;padding:0px 0px 0px 0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;word-break:break-word">
                                             <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                                                <tbody>
                                                   <tr>
                                                      <td style="width:600px">
                                                         <img alt="Logan Paul NFT - Bondly" height="auto" src="https://ci4.googleusercontent.com/proxy/1zOCQ8zOF_PJxxfvSfyoLsjLihbxjcjY5Co6pGXi5dcAsJCWkGzIo-_VQN6s2MWOHhnKdX6XFhJeRKVg8f9wIA=s0-d-e1-ft#https://x86li.mjt.lu/img/x86li/b/jpv/lmgk.png" style="border:none;border-radius:px;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px" width="600" class="CToWUd a6T" tabindex="0">
                                                         <div class="a6S" dir="ltr" style="opacity: 0.01; left: 792px; top: 420px;">
                                                            <div id=":30v" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download">
                                                               <div class="akn">
                                                                  <div class="aSK J-J5-Ji aYr"></div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </td>
         </tr>
      </tbody>
   </table>
   <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%">
      <tbody>
         <tr>
            <td>
               <div style="margin:0px auto;max-width:600px">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
                     <tbody>
                        <tr>
                           <td style="border:0px solid #ffffff;direction:ltr;font-size:0px;padding:20px 0px 20px 0px;padding-left:0px;padding-right:0px;text-align:center">
                              <div class="m_3535026615793103033mj-column-per-100" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                 <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">
                                    <tbody>
                                       <tr>
                                          <td align="left" style="font-size:0px;padding:0px 25px 0px 25px;padding-top:0px;padding-bottom:0px;word-break:break-word">
                                             <div style="font-family:Arial,sans-serif;font-size:15px;letter-spacing:normal;line-height:1;text-align:left;color:#000000">
                                                <p style="margin:10px 0;margin-top:10px"><span style="color:#55575d;font-family:Roboto;font-size:15px;line-height:22px">Hi,</span></p>
                                                <p style="margin:10px 0;margin-bottom:10px"><span style="color:#55575d;font-family:Roboto;font-size:15px;line-height:22px">Someone has just sent you a digital asset(s) on the blockchain. Since you didn't have an Arkane blockchain wallet we created one for you. By clicking on the button below you are able to collect the new wallet and its asset(s).</span></p>
                                             </div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td align="center" style="font-size:0px;padding:30px 25px 10px 25px;padding-top:30px;padding-right:25px;padding-left:25px;word-break:break-word">
                                             <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%">
						 <tbody>
                                                   <tr>
                                                      <td align="center" bgcolor="#a24db1" role="presentation" style="border:0px solid #ffffff;border-radius:8px;background:#a24db1" valign="middle">
							      <a th:href="@{${targetUrl}}" data-test="test" target="_blank">
								      <p style="display:inline-block;background:#a24db1;color:#ffffff;font-family:Arial,sans-serif;font-size:13px;font-weight:normal;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:10px 25px 10px 25px;border-radius:8px"><span style="background-color:transparent;font-family:Roboto;font-size:14px">GO TO YOUR WALLET</span></p></a>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
 <tr>
                                          <td align="center" style="font-size:0px;padding:30px 25px 10px 25px;padding-top:30px;padding-right:25px;padding-left:25px;word-break:break-word">
                                             <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%">
                                                 <tbody>
                                                   <tr>
                                                      <td align="center" valign="middle">
							      <span th:text=“@{${targetUrl}}” style=“font-family:Roboto;font-size:12px”></span>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </td>
         </tr>
      </tbody>
   </table>
   <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%">
      <tbody>
         <tr>
            <td>
               <div style="margin:0px auto;max-width:600px">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
                     <tbody>
                        <tr>
                           <td style="border:0px solid #ffffff;direction:ltr;font-size:0px;padding:20px 0px 20px 0px;padding-left:0px;padding-right:0px;text-align:center">
                              <div class="m_3535026615793103033mj-column-per-100" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                 <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">
                                    <tbody>
                                       <tr>
                                          <td align="left" style="font-size:0px;padding:0px 25px 0px 25px;padding-top:0px;padding-bottom:0px;word-break:break-word">
                                             <div style="font-family:Arial,sans-serif;font-size:15px;letter-spacing:normal;line-height:1;text-align:left;color:#000000">
                                                <p style="margin:10px 0;margin-top:10px;margin-bottom:10px"><span style="color:#55575d;font-family:Roboto;font-size:15px;line-height:22px">&nbsp;If you have any issues, we can help you with our wallet and market support. Just click on the chat icon at the bottom of the page.</span></p>
                                             </div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td align="center" style="font-size:0px;padding:10px 25px 10px 25px;padding-top:10px;padding-right:25px;padding-left:25px;word-break:break-word">
                                             <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="float:none;display:inline-table">
                                                <tbody>
                                                   <tr>
                                                      <td style="padding:4px">
                                                         <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#a640b8;border-radius:50%;width:20">
                                                            <tbody>
                                                               <tr>
                                                                  <td style="padding:5px 5px 5px 5px;font-size:0;height:20;vertical-align:middle;width:20"><a href="https://twitter.com/NetworkArkane" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/NetworkArkane&amp;source=gmail&amp;ust=1615373237933000&amp;usg=AFQjCNEX1DRQZgZDsZk5PQAIbW9q72OqQA"><img height="20" src="https://ci5.googleusercontent.com/proxy/5-H8_DK82L0N-1vgP5uKBHqWiqyxiM_gQDmYNPR-zKzHLn0kycNlKjm1RPmgIFs1HCoTrgRj21Cbo7NByc3zCrXuBvOivAnQPL6D82Hi1xJ8t0qHOA5f=s0-d-e1-ft#https://www.mailjet.com/images/theme/v1/icons/ico-social/twitter.png" style="border-radius:50%;display:block" width="20" class="CToWUd"></a></td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                             <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="float:none;display:inline-table">
                                                <tbody>
                                                   <tr>
                                                      <td style="padding:4px">
                                                         <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#a640b8;border-radius:50%;width:20">
                                                            <tbody>
                                                               <tr>
                                                                  <td style="padding:5px 5px 5px 5px;font-size:0;height:20;vertical-align:middle;width:20"><a href="https://www.linkedin.com/company/33295408" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/company/33295408&amp;source=gmail&amp;ust=1615373237933000&amp;usg=AFQjCNHOSo2EOwuddZIPuwq0IcJun4kCag"><img height="20" src="https://ci3.googleusercontent.com/proxy/Ro-BgDTtglkIsEWqtrKHPOXrLdSEiKr_e3CZ_li4H_n0yatIp1TylrW1y4aYMoGgedzsMHi7dow-FkQ4jqrnjOgEH4lFnmFhr2qMc4UvZqX5hHn0ofbuWw=s0-d-e1-ft#https://www.mailjet.com/images/theme/v1/icons/ico-social/linkedin.png" style="border-radius:50%;display:block" width="20" class="CToWUd"></a></td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                             <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="float:none;display:inline-table">
                                                <tbody>
                                                   <tr>
                                                      <td style="padding:4px">
                                                         <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#a640b8;border-radius:50%;width:20">
                                                            <tbody>
                                                               <tr>
                                                                  <td style="padding:5px 5px 5px 5px;font-size:0;height:20;vertical-align:middle;width:20"><a href="https://medium.com/arkane-network" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://medium.com/arkane-network&amp;source=gmail&amp;ust=1615373237933000&amp;usg=AFQjCNFDBGycGioyYMlij0RS4N-hn3GYLg"><img height="20" src="https://ci5.googleusercontent.com/proxy/i9ORFS9gSj24Mi7sROazlgDXLTa__1Ss8kWjcWmb78Ozxcl2mdMof7v4io3-il3XoFlbp8QZ5bGoMa7r6FsqeCHzLbUJX8rlcdcSvwA53QatwSf06uw=s0-d-e1-ft#https://www.mailjet.com/images/theme/v1/icons/ico-social/medium.png" style="border-radius:50%;display:block" width="20" class="CToWUd"></a></td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </td>
         </tr>
      </tbody>
   </table>
   <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%">
      <tbody>
         <tr>
            <td>
               <div style="margin:0px auto;max-width:600px">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
                     <tbody>
                        <tr>
                           <td style="border:0px solid #ffffff;direction:ltr;font-size:0px;padding:20px 0px 20px 0px;padding-left:0px;padding-right:0px;text-align:center">
                              <div class="m_3535026615793103033mj-column-per-100" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                 <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">
                                    <tbody>
                                       <tr>
                                          <td align="left" style="font-size:0px;padding:0px 20px 0px 20px;padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:20px;word-break:break-word">
                                             <div style="font-family:Arial,sans-serif;font-size:12px;letter-spacing:normal;line-height:1;text-align:left;color:#000000">
                                                <p style="text-align:center;margin:10px 0;margin-top:10px;margin-bottom:10px"><a style="color:inherit;text-decoration:none" href="http://x86li.mjt.lu/unsub2?hl=en&amp;m=EAAAAYiAV7sAAAAAAAAAAAPXTKEAAAAAYPYAAAAAABe7qgBgR1IgGmStiQkSRo238o9rwiYZ1QAXP5c&amp;b=0835eb5e&amp;e=f209c2c8&amp;x=NTOIKM_6SITGd3NK9BBYAZA_t-2o0KBTaotvDCQJEaw" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://x86li.mjt.lu/unsub2?hl%3Den%26m%3DEAAAAYiAV7sAAAAAAAAAAAPXTKEAAAAAYPYAAAAAABe7qgBgR1IgGmStiQkSRo238o9rwiYZ1QAXP5c%26b%3D0835eb5e%26e%3Df209c2c8%26x%3DNTOIKM_6SITGd3NK9BBYAZA_t-2o0KBTaotvDCQJEaw&amp;source=gmail&amp;ust=1615373237933000&amp;usg=AFQjCNHeQc3CcGrRR91EHLKI3E6Aqt0KeQ"><span style="color:#55575d;font-family:Roboto;font-size:12px;line-height:22px">click here to unsubscribe</span></a><span style="color:#55575d;font-family:Roboto;font-size:12px;line-height:22px">.</span></p>
                                             </div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td align="left" style="font-size:0px;padding:0px 20px 0px 20px;padding-top:0px;padding-bottom:0px;word-break:break-word">
                                             <div style="font-family:Arial,sans-serif;font-size:13px;letter-spacing:normal;line-height:1;text-align:left;color:#000000">
                                                <p style="text-align:center;margin:10px 0;margin-top:10px;margin-bottom:10px"><span style="color:#a24db1;font-family:Ubuntu;font-size:13px">Arkane Network - 2021</span></p>
                                             </div>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </td>
         </tr>
      </tbody>
   </table>
</div>

