  <p style="line-height:1.5;margin:0 0 17px;padding-top:0;text-align:left!important" align="left">Dear,</p>
  <p style="line-height:1.5;margin:0 0 17px;text-align:left!important" align="left">Congratulations! You won an auction. You are now the proud owner of <span th:text="${nftName}">Cryptokitty #3</span>.
  <div style="margin-bottom:16px!important;text-align:center!important" align="center">

    <p style="line-height:2.5;margin:0 0 17px;text-align:center!important; width:100%" align="center">
    
    <a href="https://arkane.market" th:href="${link}" target="_blank" style="cursor: pointer; margin-left: auto;margin-right: auto; color: white; border-radius: 5px; padding:12px 7px; font-size: medium; background-color:#358dab;">See details</a>
   
    </p>

  </div>
  <p style="line-height:1.5;margin:0 0 17px;text-align:center!important" align="center"></p>
  <p style="line-height:1.5;margin:0 0 17px;text-align:center!important" align="center">Thank you for using Arkane Market.</p>